  <section>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
            <h2><%= @product.name %></h2>
            <h3><%= @product.sale_message %></h3>
            <h5><%= @supplier.name %></h5>
            <p>Price: <%= @product.price %></p>
            <p>Tax: <%= @product.tax %></p>
            <p id="red-price">For a total of: <%= @product.total %></p>
            <% @product.images.each do |image| %>
              <img src="<%= image.link %>" width="150" alt="" class="">
            <% end %>
            <p>Description: <%= @product.description %></p>
            <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
        </div>
      </div>
    </div>
  </section>
